# Nom du workflow affiché dans GitHub Actions
name: Build and Push Docker Image

# Déclenche le workflow automatiquement quand tu pushes sur la branche "main" & d'un tag
on:
  push:
    branches:
      - main # - push sur la branche main
    tags:
      - 'v*.*.*' # - push d'un tag commençant par v (ex : v1.0.0)

# Définition des jobs (tâches) à exécuter
jobs:
  build:
    # Machine virtuelle Ubuntu fournie par GitHub
    runs-on: ubuntu-latest

    # Liste des étapes du job
    steps:

      # Étape 1 : Récupérer le code source du repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Étape 2 : Configurer Node.js (si nécessaire pour build)
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'   # Remplace par la version Node.js de ton projet

      # Étape 3 : Installer les dépendances Node.js
      - name: Install dependencies
        run: npm install

      # Étape 4 : Exécuter les tests Jest avant de construire l'image Docker
      # Si un test échoue → l'image NE sera PAS construite (bonne pratique CI)
      # ✅ Nouvelle étape : exécuter les tests avant le build Docker
      - name: Run tests
        run: npm test

      # Étape 5 : Compiler le code TypeScript (si ton projet utilise TS)
      - name: Build project
        run: npm run build   # génère le dossier "dist" si tsconfig.json est configuré

      # Étape 6 : Déterminer le bon TAG Docker
      # - Si push sur un tag "v1.2.3" → image tag = "v1.2.3"
      # - Si push sur main → image tag = "latest"
      - name: Set Docker Tag
        id: vars
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          else
            echo "tag=latest" >> $GITHUB_OUTPUT
          fi

      # Étape 7 : Se connecter à Docker Hub avec les secrets GitHub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}  # nom Docker Hub
          password: ${{ secrets.DOCKER_PASSWORD }}  # token généré dans Docker Hub

      # Étape  : Construire l'image Docker avec le TAG dynamique
      - name: Build Docker image
        run: docker build -t traorenignaman/api-todo-liste:${{ steps.vars.outputs.tag }} .

      # Étape 7 : Pousser l'image Docker vers Docker Hub
      - name: Push Docker image
        run: docker push traorenignaman/api-todo-liste:${{ steps.vars.outputs.tag }}
